<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <div style="font-size: 9px !important">
    <a href="#">Dashboard</a>
    <a href="#">Call Log</a>
    <a  href="#" onclick="openOverlay();">Add Account</a>
    <a href="{% url 'account_logout' %}">Signout</a>
  </div>
</div>



<div id="rightSidenav" class="rightsidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeRightNav()">×</a>
  <div class="col-md-12">
        <form id="addUser" action="">
          <div class="form-group">
            <input class="form-control" type="text" name="trip_no" placeholder="Trip Number" required>
          </div>
          <div class="form-group">
            <select name="driver" class="form-control" required>
              {% for rw in staff %}
              <option value="{{rw.fname}}">{{rw.fname}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <select name="notes" class="form-control" required>
              {% for rw in dict %}
                {% if rw.category == 'notes' %}
                  <option value="{{rw.name}}">{{rw.name}}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
             <textarea  name="private_notes" class="form-control" rows="10">
              </textarea> 
          </div>
          <button class="btn btn-primary form-control" type="submit">SUBMIT</button>
          <input type="hidden" name="user" value="{{ request.user.id }}">
          <input type="hidden" name="timestamp" value="">
        </form>
      </div>
</div>
